<h1>CryptoTool</h1>
<%= form_with(url: "http://localhost:3000", method: "post", remote: false) do |form| %>
    <%= form.text_field( :password ) %>
    <%= form.select( :crypt, options_for_select( [["Encrypt", "encrypt"], ["Decrypt", "decrypt"]], 1 ) ) %>
    <%= form.submit("Submit") %>
<% end %>
<div>
    <% if ! @success then %>
        <p><%= @error %></p>
    <% end %>
</div>
<div id="result">
    <p>Result:</p>
    <% if @success then %>
        <p><%= @string %></p>
    <% end %>
</div>
<div id="resultURLEncoded">
    <p>Result URL Encoded:</p>
    <% if @success then %>
        <p><%= @string_URL_encoded %></p>
    <% end %>
</div>
<div id="resultURLDecoded">
    <p>Result URL Decoded:</p>
    <% if @success then %>
        <p><%= @string_URL_decoded %></p>
    <% end %>
</div